ENV=prod
TOKEN=your_vk_token_here
HW_ID=-172959149
PREFIX=/h
POSTGRES_HOST=db
POSTGRES_DB=huoqiang
POSTGRES_USER=huoqiang
POSTGRES_PASSWORD=huoqiang
CALLBACK_URL=/
CALLBACK_PORT=80
CALLBACK_RESPONSE=0a1b2c3d
CALLBACK_SECRET=rAnd0mS7r1nG!
